<h3>Calculadora Hiper Blaster Suprema</h3>

<ul>
	<li>
		<a href="/somar">Somaste</a>
	</li>
	<li>
		<a href="/subtrair">Subtraiste </a>
	</li>
	<li>
		<a href="/multiplicar">Multiplicaste</a>
	</li>
	<li>
		<a href="/dividir">Dividiste</a>
	</li>
</ul>
